.landing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
  }

.button-container {
    display: flex;
    gap: 20px; 
    flex-wrap: wrap; 
    justify-content: center;
  }